.header{
    position: relative;
    background-image: url('/header_img.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; /* adjust to your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 5%;
    right: 2vw;
    color: #E3EEB2;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: #E3EEB2;
    font-size: max(3.5vw, 22px);
}
.header-contents p{
    color: #E3EEB2;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #E3EEB2;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media(max-width:1050px){

    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}